<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>7 Flavors</title>
    <link rel="icon" type="image/png" href="./imgs/7F PFP.svg"/>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@300&family=Quicksand&family=Roboto+Condensed:wght@300;400&display=swap" rel="stylesheet">      
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <!-- Navbar Start -->
    <!-- Logo Line Start-->
    <div class="container-fluid navbar navbar-expand-sm navbar-light bg-light logo-line">
      <a class="navbar-brand logo-img-container" href="/"><img src="./imgs/logo.svg" alt="7 Flavors Logo Home Buttons" class="logo-img"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <!-- Logo Line End -->
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-sm navbar-light bg-light logo-line ml-100" aria-label="Fourth navbar example">
      <div>
        <div class="collapse navbar-collapse navbar-container" id="navbarsExample04">
            <ul class="navbar-nav me-auto mb-2 mb-sm-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/faq">FAQ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/gallery">Gallery</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/booking">Book Now</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Menus</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/brunch">Brunch</a></li>
                  <li><a class="dropdown-item" href="/dinner">Dinner</a></li>
                  <li><a class="dropdown-item" href="/420">Marijuana Dinner</a></li>
                </ul>
              </li>
            </ul>
        </div>
      </div>
    </nav>
    <!-- Navbar End -->