<%- include('./partials/header.ejs') %>
<div class="about-bg d-block w-100">
    <div class="about-h1-text">
        <h1 class="about-h1">ABOUT 7 FLAVORS</h1>
    </div>
</div>

<div class="container marketing">
    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette ">
      <div class="col-md-7 about-text">
        <div class="about-h2">
          <h2 class="featurette-heading fw-normal lh-4 about-h2-text about-h2-media-last">Our Mission</h2>
        </div>
        <div>
          <p class="lead">At 7 Flavors International Kitchen, we are dedicated to democratizing the world of fine dining and luxury cuisine. Our mission is to transcend geographical boundaries and bring the rich tapestry of global flavors, atmospheres, and cultures directly to your doorstep. Through a fusion of culinary artistry and a commitment to inclusivity, we aspire to make the extraordinary accessible, inviting everyone to embark on a delectable journey around the world, one unforgettable meal at a time.</p>
        </div>
      </div>
      <div class="col-md-5">
        <img src="/imgs/7F PFP.svg" alt="chef john cracking pepper" width="500" height="500" class="about-img">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette ">
      <div class="col-md-7 about-text">
        <div class="about-h2">
          <h2 class="featurette-heading fw-normal lh-4 about-h2-text about-h2-media-last">What we bring to the table</h2>
        </div>
        <div>
          <p class="lead">At 7 Flavors International Kitchen, we bring more than just exquisite meals; we bring a world of experiences to your dining table. Our team of skilled and passionate personal chefs crafts each dish with precision, infusing it with the authentic flavors and traditions of global cuisines. Beyond the delicious meals, we deliver an ambiance that transports you to the heart of the culture, whether it's a romantic evening in Paris or a vibrant fiesta in Mexico. Our commitment to accessibility means you can savor the luxury of fine dining without leaving your home. With 7 Flavors, you're not just ordering food; you're embarking on a culinary journey that's both delightful and enlightening. Join us at the table and let us take you on a culinary adventure like no other.</p>
        </div>
      </div>
      <div class="col-md-5">
        <img src="/imgs/IMG_0304.jpg" alt="chef john cracking pepper" width="500" height="500" class="about-img">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 about-text">
        <div class="about-h2">
          <h2 class="featurette-heading fw-normal lh-4 about-h2-text">Meet the Chef</h2>
        </div>
        <div>
          <p class="lead">Meet the culinary visionary behind the magic at 7 Flavors International Kitchen - our Head Chef, John Hernandez. With an unquenchable curiosity for the global culinary landscape, John has taken his love for cooking to a whole new level, specializing in crafting unique, flavorful dishes that capture the essence of cultures from around the world. His innate talent and unwavering dedication to innovation have made him a true trailblazer in the realm of personalized culinary experiences. At 7 Flavors, we're proud to have Chef John Hernandez at the helm, steering our mission to make fine dining accessible to all, one extraordinary meal at a time.</p><br>
        </div>
      </div>
      <div class="col-md-5 about-img-margin">
        <img src="/imgs/IMG_0204.jpg" alt="chef john headshot" width="500" height="500" class="about-img">
      </div>
    </div>


    <!-- /END THE FEATURETTES -->

  </div>


<%- include('./partials/footer.ejs') %>