<%- include('./partials/header.ejs') %>
<div class="about-bg d-block w-100">
    <div class="about-text">
        <h1 class="about-h1">ABOUT CHEF JOHN</h1>
    </div>
</div>

<div class="container marketing">
    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1 about-head">First featurette heading. <span class="text-body-secondary">It’ll blow your mind.</span></h2>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum numquam sapiente veniam rem perferendis asperiores dolorum tempore non laboriosam, temporibus quos amet ab, minus blanditiis fugit quisquam est, corrupti sed!</p>
      </div>
      <div class="col-md-5">
        <img src="/imgs/shutterstock_1518533924-min.jpg" alt="chef john headshot" width="500" height="500">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1 about-head">Oh yeah, it’s that good. <span class="text-body-secondary">See for yourself.</span></h2>
        <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="/imgs/shutterstock_1518533924-min.jpg" alt="chef john headshot" width="500" height="500">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1 about-head">And lastly, this one. <span class="text-body-secondary">Checkmate.</span></h2>
        <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
      </div>
      <div class="col-md-5">
        <img src="/imgs/shutterstock_1518533924-min.jpg" alt="chef john headshot" width="500" height="500">
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div>


<%- include('./partials/footer.ejs') %>