<%- include('./partials/header.ejs') %>
<div class="about-bg d-block w-100">
    <div class="about-h1-text">
        <h1 class="about-h1">ABOUT 7 FLAVORS</h1>
    </div>
</div>

<div class="container marketing">
    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 about-text">
        <div class="about-h2">
          <h2 class="featurette-heading fw-normal lh-4 about-h2-text">Meet the Chef</h2>
        </div>
        <div>
          <p class="lead">Introducing the culinary maestro behind the delectable creations that grace your palate at every exquisite gathering - John Hernandez, our esteemed Head Chef. A virtuoso of flavors, John's culinary journey has been finely honed at the prestigious Auguste Escoffier School of Culinary Arts, where his passion for the art of gastronomy was meticulously nurtured and refined.</p><br>
            
          <p class="lead">With a culinary philosophy that embodies innovation and tradition in perfect harmony, Chef John crafts a symphony of tastes that dance across your senses. His culinary prowess transcends the ordinary, infusing each dish with a harmonious blend of textures, aromas, and tastes that evoke both nostalgia and a sense of culinary adventure.</p><br>
            
          <p class="lead">As the heart and soul of our private kitchen experience, Chef John brings the essence of a 5-star Michelin restaurant directly to your table, allowing you to relish in the opulence of fine dining from the comfort of your own abode. Join us on a culinary odyssey led by a true artisan of the culinary arts, as Chef John Hernandez elevates every occasion into an unforgettable culinary masterpiece.</p>
        </div>
      </div>
      <div class="col-md-5 about-img-margin">
        <img src="/imgs/shutterstock_1518533924-min.jpg" alt="chef john headshot" width="500" height="500" class="about-img">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2 about-text">
        <div class="about-h2 about-h2-media">
          <h2 class="featurette-heading fw-normal lh-4 about-h2-text">FAQs</h2>
        </div>
        <div>
          <p class="lead about-p-media">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
        </div>
        
      </div>
      <div class="col-md-5 order-md-1">
        <img src="/imgs/shutterstock_1518533924-min.jpg" alt="chef john headshot" class="about-img">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette ">
      <div class="col-md-7 about-text">
        <div class="about-h2">
          <h2 class="featurette-heading fw-normal lh-4 about-h2-text about-h2-media-last">What we bring to the table</h2>
        </div>
        <div>
          <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum numquam sapiente veniam rem perferendis asperiores dolorum tempore non laboriosam, temporibus quos amet ab, minus blanditiis fugit quisquam est, corrupti sed!</p>
        </div>
      </div>
      <div class="col-md-5">
        <img src="/imgs/shutterstock_1518533924-min.jpg" alt="chef john headshot" width="500" height="500" class="about-img">
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div>


<%- include('./partials/footer.ejs') %>