<%- include('./partials/header.ejs') %>

<div class="landing-bg d-block w-100">
  <div class="landing-h1-text">
      <h1 class="landing-h1-margin landing-h1">7 Flavors</h1>
      <h1 class="landing-h1">International Kitchen</h1>
  </div>
</div>

<div class="landing-h1-media-text">
  <h1 class="landing-media-h1">7 Flavors International Kitchen</h1>
</div>

<div class="landing-knife">
  <div class="landing-knife-container">
    <img src="/imgs/knife-kitchen-svgrepo-com.svg" class="landing-knife-img">
  </div>
</div>

<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
  <h1 class="display-4 fw-normal text-body-emphasis">What is 7 Flavors?</h1>
  <p class="fs-5 text-body-secondary" style="margin-top: 25px;">7 Flavors is an private kitchen that comes to you. Enjoy the relaxation of a night in, with the luxury and exciting of going to a 5-star Michelin restaurant.</p>
</div>

<div class="landing-knife">
  <div class="landing-knife-container">
    <img src="/imgs/knife-kitchen-svgrepo-com.svg" class="landing-knife-img">
  </div>
</div>

<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
  <h1 class="display-4 fw-normal text-body-emphasis">Who's my chef?</h1>
  <p class="fs-5 text-body-secondary" style="margin-top: 25px;">Meet Chef John Hernandez, our culinary virtuoso trained at Auguste Escoffier School of Culinary Arts. Elevating every flavor, every moment.</p>
  <a href="/views/about.ejs"> Get to know Chef John here</a>
</div>

<div class="landing-knife">
  <div class="landing-knife-container">
    <img src="/imgs/knife-kitchen-svgrepo-com.svg" class="landing-knife-img">
  </div>
</div>

<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
  <h1 class="display-4 fw-normal text-body-emphasis">What services do you offer?</h1>
  <p class="fs-5 text-body-secondary" style="margin-top: 25px;">Meet Chef John Hernandez, our culinary virtuoso trained at Auguste Escoffier School of Culinary Arts. Elevating every flavor, every moment.</p>
</div>
<%- include('./partials/footer.ejs') %>